html {
  height: 1200px;
}

body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding:0px;
  background-image:url('../images/tweed.png');
  background-repeat: repeat;
  font-family: Helvetica,Arial,sans-serif;
  font-smooth: auto;
}

div.container{
  width: 1000px;
  height: 100%;
  margin: 0px auto;
}

div.headerContainer{
  width: 100%;
  height: 90px;
  position:fixed;
  background: rgba(0, 0, 0, .88);
  z-index: 50;
  min-width: 1000px;
}

div.spacer{
 width: 100%;
 height: 110px;
}

div.footer{
  width: 100%;
  height: 100px;
  background: rgba(110, 153, 255, 0.06);
  min-width: 1000px;
}

div.topContentContainer{
  width:100%;
  height: 360px;
  margin-bottom: 30px;
}

div.topContentLeft{
  width: 60%;
  height: 100%;
  float: left;
}

div.topContentRight{
  width: 35%;
  height: 100%;
  float:right;
}

div.contentButtons{
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
}

div.bottomContent{
  width: 100%;
  height: 460px;
}


p.top{
font-size: large;
color: white;
text-shadow: black 0.1em 0.1em 0.1em;
width:95%;
margin: 0px;
padding: 0px;
text-align: left;
}

p.bottomText{
font-size: 22px;
color: white;
text-shadow: black 0.1em 0.1em 0.1em;
width:95%;
margin-left: 15px;
padding: 0px;
line-height: 130%;
text-align: left;
}

p.footerMidText{
font-size: 22px;
color: white;
text-shadow: black 0.1em 0.1em 0.1em;
width:25%;
margin-left: 14.5%;
padding: 0px;
line-height: 110%;
text-align: left;
float: left;
margin-top: 40px;
font-weight:bold;
}

p.footerRightText{
font-size: 22px;
color: white;
text-shadow: black 0.1em 0.1em 0.1em;
width:20%;
margin-left: 7.5%;
padding: 0px;
line-height: 110%;
text-align: left;
float: left;
margin-top: 40px;
font-weight:bold;
}

p.footerHeader{
width:20%;
margin: 0px;
margin-left:3%;
margin-top: 40px;
float: left;
color: white;
text-shadow: black 0.1em 0.1em 0.1em;
font-size:30px;
font-weight:bold;
}

h1{
width:38%;
margin: 0px;
margin-left:3%;
margin-top: .6%;
float: left;
color: white;
text-shadow: black 0.1em 0.1em 0.1em;
font-size:30px;
}

h2{
width:50%;
margin: 0px;
color: white;
text-shadow: black 0.1em 0.1em 0.1em;
display: inline-block;
margin: 0px;
padding: 0px;
font-size:30px;
}

h3{
width:95%;
margin: 0px;
color: white;
text-shadow: black 0.1em 0.1em 0.1em;
display: inline-block;
margin: 0px;
padding: 0px;
font-size:25px;
}

img{
width: 99.7%;
max-width: 800px;
height: 340px;
border: 1px solid #000000;
}

.carousel slide{
width:99%;
height:95%;
max-width: 800px;
}

.githubButton {
	background-color:#67B325;
	border-radius:6px;
	border:1px solid #67B325;
	color:#F0F0F0;
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
	margin-right: 8%;
	margin-top: .8%;
	float:right;
	width: 140px;
	height: 45px;
	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}
.githubButton:hover {
	background-color:#438708;
	border:1px solid #438708;
}

button.games{
	background-color:#282828;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #282828;
	color:#FFFFFF;
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	
	width: 100px;
	height: 100px;
	padding: 0px;
	text-align: center;
		  border: black;
  border-style: solid;
  border-width: 1px;
	
	/*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}
button.games:hover{
  background-color: #993399;
  color:#FFFFFF;
  border:1px solid #993399;
  	  border: black;
  border-style: solid;
  border-width: 1px;
}
.gamesSelected{
background-color:#993399;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #993399;
	color:#FFFFFF;
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	
		  border: black;
  border-style: solid;
  border-width: 1px;
	
	width: 100px;
	height: 100px;
	padding: 0px;
	text-align: center;
  }


button.design{
	background-color:#282828;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #282828;
	color:#FFFFFF;
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	
	width: 100px;
	height: 100px;
	padding: 0px;
	text-align: center;
	margin-right: 80px;
	border: black;
	border-style: solid;
	border-width: 1px;
	
	/*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}
button.design:hover{
  background-color: #CC3333;
  color:#FFFFFF;
  border:1px solid #CC3333;
  border: black;
  border-style: solid;
  border-width: 1px;
}
button.designSelected{
	background-color: #CC3333;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #CC3333;
	color:#FFFFFF;
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	
	width: 100px;
	height: 100px;
	padding: 0px;
	text-align: center;
	margin-right: 80px;
  border: black;
  border-style: solid;
  border-width: 1px;
}

button.education{
	background-color:#282828;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #282828;
	color:#FFFFFF;
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	
	width: 100px;
	height: 100px;
	padding: 0px;
	text-align: center;
	margin-right: 80px;
	
	border: black;
	border-style: solid;
	border-width: 1px;
	
	/*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}
button.education:hover {
  background-color: #CC9933;
  color:#FFFFFF;
  border:1px solid #CC9933;
  border: black;
  border-style: solid;
  border-width: 1px;
}
button.educationSelected{
background-color:#CC9933;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #CC9933;
	color:#FFFFFF;
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	
	width: 100px;
	height: 100px;
	padding: 0px;
	text-align: center;
	margin-right: 80px;
	  border: black;
  border-style: solid;
  border-width: 1px;
}

button.mobile{
	background-color:#282828;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #282828;
	color:#FFFFFF;
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	
	width: 100px;
	height: 100px;
	padding: 0px;
	text-align: center;
	margin-right: 80px;
	
    border: black;
    border-style: solid;
    border-width: 1px;
	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}
button.mobile:hover{
  background-color: #0066CC;
  color:#FFFFFF;
  border:1px solid #0066CC;
    border: black;
  border-style: solid;
  border-width: 1px;
}
button.mobileSelected{
	background-color:#0066CC;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #0066CC;
	color:#FFFFFF;
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	
	width: 100px;
	height: 100px;
	padding: 0px;
	text-align: center;
	margin-right: 80px;
	  border: black;
  border-style: solid;
  border-width: 1px;
}


button.leap{
	background-color:#282828;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #282828;
	color:#FFFFFF;
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	
	width: 100px;
	height: 100px;
	padding: 0px;
	text-align: center;
	margin-right: 80px;
	  border: black;
  border-style: solid;
  border-width: 1px;
	
	/*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}
button.leap:hover{
  background-color: #55a217;
  color:#FFFFFF;
  border:1px solid #55a217;
    border: black;
  border-style: solid;
  border-width: 1px;
}
button.leapSelected{
	background-color: #55a217;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #55a217;
	color:#FFFFFF;
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	  border: black;
  border-style: solid;
  border-width: 1px;
	
	width: 100px;
	height: 100px;
	padding: 0px;
	text-align: center;
	margin-right: 80px;
}

button.glass{
	background-color:#282828;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #282828;
	color:#FFFFFF;
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	  border: black;
  border-style: solid;
  border-width: 1px;
	
	width: 100px;
	height: 100px;
	padding: 0px;
	text-align: center;
	float: right;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}
button.glass:hover{
  background-color: #66CC66;
  color:#FFFFFF;
  border:1px solid #66CC66;
    border: black;
  border-style: solid;
  border-width: 1px;
}
button.glassSelected{
	background-color:#66CC66;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #66CC66;
	color:#FFFFFF;
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	
	width: 100px;
	height: 100px;
	padding: 0px;
	text-align: center;
	float: right;
	  border: black;
  border-style: solid;
  border-width: 1px;
}


.blogspot {
	background-color:#1DB8A8;
	border: 1px solid #000000;
	border-radius:30px;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:10px 25px;
	text-decoration:none;
	width: 250px;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
	margin-right: 35px;
}
.blogspot:hover {
	background-color:#1DB8A8;
	border: 1px solid #000000;
	width: 320px;
}


/* Bottom Content */

div.bottomHeader{
	width: 100%;
	height:60px;
}

div.bottomContentLeft{
	width: 30%;
	height: 100%;
	float: left;
}

div.bottomContentRight{
	width: 65%;
	height: 100%;
	float: right;
}

div.bottomContentContainer{
	width: 100%;
	height: 400px;
}

h1.bottom{
width:100%;
margin: 0px;
font-size: xx-large;
display: inline-block;
color: white;
text-shadow: black 0.1em 0.1em 0.2em;
}

img.bottom{
	height: 400px;
	width: 300px;
	border: 2px solid #000000;
}

