<!DOCTYPE HTML>
<html>

<head>
  <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" href="../CSS/stylesheet.css">
  <title>Ethan Green</title>
</head>

<body>

<div class="headerContainer">
<h1> Ethan Green </h1>

<button class="githubButton" ONCLICK=window.open("http://github.com/ecgreen")> GitHub </button>
</div>

<div class="container">
<div class="spacer"> </div>
 
  <div class="topContentContainer">
  
  	<div class="topContentLeft">
	
	<div id="top-left-carousel" class="carousel slide">
  		<div class="carousel-inner">
    		<div class="item active">
      			<img src="../images/leap.jpg" alt="" />
      			<div class="carousel-caption">
        			<p>Early admit to Leap Software Developer Program as part of L3DC</p>
      			</div>
    		</div>
   				 <div class="item">
      				<img src="../images/glass2.jpg" alt="" />
      			<div class="carousel-caption">
        			<p>Developing Google Glass software at Washington University Medical School</p>
      			</div>
    		</div>
    		
    		<div class="item">
     			<img src="../images/unity.png" alt="" />
      			<div class="carousel-caption">
       				<p>Pitched and designed C.O.L.O.R. using Unity with a team of 5 developers.</p>
     			 </div>
    		</div>
    		
    		<div class="item">
     			<img src="../images/coolfire.jpg" alt="" />
      			<div class="carousel-caption">
       				<p>Worked as Jr. Mobile Developer at Coolfire Solutions developing Surveyor Lite </p>
     			 </div>
    		</div>
  		</div>
	</div>
  </div>
    
    
    <div class="topContentRight">
    <h2> About Me </h2>
    <p class="top">
    I am a computer science student at Washington University in St. Louis focusing 
    on creating innovative solutions. I've worked on quantifying Parkinson's disease, 
    developing a mobile SATCOM solution, self-aware realtime algorithms, and new projects
    using Google Glass. I am interested in projects where the problem presents a challenge 
    that requires an innovative solution using bleeding edge technology.
    </p> <br><br>
    <button class="blogspot" ONCLICK=window.open("https://ethancgreen.blogspot.com")> Development Blog </button>
    </div>
    
  </div>
  
  <div class="contentButtons" id="contentButtons"> 
  		<button class="educationSelected" id="education" > School </button>
  		<button class="mobile" id="mobile" > Mobile </button>
  		<button class="leap" id="leap" > Leap </button>
  		<button class="design" id="design" > Design </button>
  		<button class="games" id="games" > Games </button>
  		<button class="glass" id="glass" > Glass </button>
  </div>
  
  <div class="bottomContent">
  	<div class="bottomHeader"> <h2 class="bottom" id="header">Education Program</h2> </div>
  	<div class="bottomContentContainer">
  		<div class="bottomContentLeft" id="bottomImage"> <img class="bottom" src="../images/washUpic.png" alt="WashU"/> </div>
  		<div class="bottomContentRight" id="bottomText"> <h3>B.S. and M.S. in Computer Science</h3> <br> <p class='bottomText'> I am working with Professor Ron Cytron on algorithms that are aware of timings and can provide better average and worst case performance than comprable algorithms. </p> <br> <p class='bottomText'>So far my project has focussed on hash tables that can perform partial rehashes into a new table. The hash program, written in C, has a timing function that tracks inserts into the table and monitors the process. This allows me to extrapolate when a rehash must occur and if the rehash is in fact faster than a standard hash table. I am continuing to create a system of confidence intervals the algorithm can use to predict its timings. </p> </div>
  	</div>
  
  </div>

</div> <!-- Ends the content div -->

<div class="footer"> <p class="footerHeader"> Contact: </p> <p class="footerMidText"> (615) 497 - 6903 </p> <p class="footerRightText"> ethan.c.green@wustl.edu </p> </div>


</body>

  <script src="../javascript/jquery-2.0.3.js"> </script>
  <script src="../bootstrap/js/bootstrap.min.js"> </script>
  <script src="../javascript/buttonControl.js"> </script>
  <script>$('.carousel').carousel({interval: 5000})</script>


</html>